[Unit]
Description=Raise network interface
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/networking.sh start
ExecStop=/usr/local/sbin/networking.sh stop

[Install]
WantedBy=graphical.target
