vagrant plugin list|grep -q vagrant-digitalocean||vagrant plugin install vagrant-digitalocean;
f=../../token_do;
export SSH_KEY_NAME=$(awk -F= /SSH_KEY_NAME/'{print $2}' $f);
export TOKEN_DO=$(awk -F= /TOKEN_DO/'{print $2}' $f);
[ -d Deployment ]||mkdir Deployment;
cd Deployment;
mkdir $DOMAIN;
cd $DOMAIN;
cp ../../swarm.conf dc.conf;
cp ../../swarm.destroy dc.destroy;
for x in 1;do
 mkdir $x;
 cd $x;
 sed s/TOKEN_DO/$TOKEN_DO/ ../../../../Vagrantfiles/Vagrantfile.$x 1>Vagrantfile;
 sed -i s/LOCATION/$LOCATION/ Vagrantfile;
 sed -i s/SSH_KEY_NAME/$SSH_KEY_NAME/ Vagrantfile;
 sed -i "s/DOMAIN/$DOMAIN/" Vagrantfile;
 sed -i s/SIZE/$SIZE/ Vagrantfile;
 sed -i s/DOCKER/docker-$DOCKER/ Vagrantfile;
 vagrant up --parallel;
 vagrant ssh -c "docker swarm join-token manager"|grep token 1>../token_manager;
 vagrant ssh -c "docker swarm join-token worker"|grep token 1>../token_worker;
 cd -;
 done;
for x in X;do
 mkdir $x;
 cd $x;
 sed s/TOKEN_DO/$TOKEN_DO/ ../../../../Vagrantfiles/Vagrantfile.$x 1>Vagrantfile;
 sed -i s/LOCATION/$LOCATION/ Vagrantfile;
 sed -i s/SSH_KEY_NAME/$SSH_KEY_NAME/ Vagrantfile;
 sed -i "s/DOMAIN/$DOMAIN/" Vagrantfile;
 sed -i "s/ManagersNumber/$ManagersNumber/" Vagrantfile;
 sed -i "s/WorkersNumber/$WorkersNumber/" Vagrantfile;
 sed -i s/SIZE/$SIZE/ Vagrantfile;
 sed -i s/DOCKER/docker-$DOCKER/ Vagrantfile;
 vagrant up --parallel;
 cd -;
 done;
for x in 1;do
 cd $x;
 if [ $UCP = yes ];then
  echo "export UCP_ADMIN_USERNAME=$(openssl rand -base64 32|tr -d '+=/A-Z0-9'|fold -w 8|head -1)" 1>../token_ucp;
  echo "export UCP_ADMIN_PASSWORD=$(openssl rand -base64 32|tr -d '+=/'|fold -w 16|head -1)" 1>>../token_ucp;
  sh 0< ../token_ucp;
  vagrant ssh -c "IP=\$(ip route|grep eth1|awk '{print \$9}');docker container run --rm -it --name ucp -v /var/run/docker.sock:/var/run/docker.sock docker/ucp install --host-address \$IP --admin-username $UCP_ADMIN_USERNAME --admin-password $UCP_ADMIN_PASSWORD --force-minimums";
  fi;
 cd -;
 done;
