#!/bin/sh
#vagrant plugin install vagrant-digitalocean;
source ../../token_do;
source swarm.conf;
[ -d Deployment ]||mkdir Deployment;
cd Deployment;
mkdir $dc;
cd $dc;
cp ../../swarm.conf dc.conf;
cp ../../swarm.destroy dc.destroy;
for x in m1;do
 mkdir $x;
 cd $x;
 sed s/token_do/$token_do/ ../../../../Vagrantfiles/Vagrantfile.m1 1>Vagrantfile;
 sed -i s/location/$location/ Vagrantfile;
 sed -i s/SSH_KEY_NAME/$SSH_KEY_NAME/ Vagrantfile;
 sed -i "s/dcX/$dc/" Vagrantfile;
 vagrant up --parallel;
 vagrant ssh -c "docker swarm join-token manager"|grep token 1>../token_manager;
 vagrant ssh -c "docker swarm join-token worker"|grep token 1>../token_worker;
 cd -;
 done
for x in mX;do
 mkdir $x;
 cd $x;
 sed s/token_do/$token_do/ ../../../../Vagrantfiles/Vagrantfile.mX 1>Vagrantfile;
 sed -i s/location/$location/ Vagrantfile;
 sed -i s/SSH_KEY_NAME/$SSH_KEY_NAME/ Vagrantfile;
 sed -i "s/dcX/$dc/" Vagrantfile;
 sed -i "s/ManagersNumber/$ManagersNumber/" Vagrantfile;
 vagrant up --parallel;
 cd -;
 done
for x in wX;do
 mkdir $x;
 cd $x;
 sed s/token_do/$token_do/ ../../../../Vagrantfiles/Vagrantfile.wX 1>Vagrantfile;
 sed -i s/location/$location/ Vagrantfile;
 sed -i s/SSH_KEY_NAME/$SSH_KEY_NAME/ Vagrantfile;
 sed -i "s/dcX/$dc/" Vagrantfile;
 sed -i "s/WorkersNumber/$WorkersNumber/" Vagrantfile;
 vagrant up --parallel;
 cd -;
 done
cd m1;
vagrant ssh -c "for x in \$(sudo docker node ls -q -f name=m);do sudo docker node update --availability drain \$x;done";
#vagrant ssh -c "docker node update --label-add volume=qrloop w2.dc1";
#vagrant ssh -c "docker stack deploy -c stack.yml my";
cd -;
cd ..;
