#!/bin/sh -x

me_net=10.255.255.2/24;
him=10.255.255.11;
default1=TRUE;
default2=FALSE;
hostname=M1;
domain=SWARM;
net_name1="Wired connection 1";
net_name2="Wired connection 2";

sudo nmcli general hostname $hostname.$domain;
x=$(sudo nmcli connection show|grep "$net_name1"|awk '{print $4}');
sudo nmcli connection modify uuid $x ipv4.never-default $default1;
x=$(sudo nmcli connection show|grep "$net_name2"|awk '{print $4}');
sudo nmcli connection modify uuid $x ipv4.never-default $default2;
sudo nmcli connection modify uuid $x ipv4.address $me_net;
sudo nmcli connection modify uuid $x ipv4.gateway $him;
sudo nmcli connection modify uuid $x ipv4.method manual;
sudo nmcli connection modify uuid $x ipv6.method disabled;
