[Unit]
Description=Raise network interfaces
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/networking start
ExecStop=/usr/local/sbin/networking stop

[Install]
WantedBy=graphical.target
