[Unit]
Description=IP tables Firewall
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/firewall.sh
ExecStop=/usr/local/sbin/firewall.sh stop

[Install]
WantedBy=multi-user.target
