[Unit]
Description=IP tables
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/danysoft/Scripts/iptables
ExecStop=/home/danysoft/Scripts/iptables stop

[Install]
WantedBy=multi-user.target

